.head header {

  height: 80px;
  align-content: center;
  
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 40px;
}
header a {
  text-align: center;
  text-decoration: none;
  color: gray;
  font-weight: bold;
}
.one{
  width:30vw;
  height: 100vh;  
  margin-left: 20px;
}
.btn1{
    width: 250px;
    height:45px;
     background-color: #005FB2; 
     color:white;
   
}