/* .header{

    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
    color: azure;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
} */

/* .header{

    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
} */