.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  
   min-height: 100vh;
   background-position: top center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   align-items: center;
  }
  /* .container{
  border-radius: 50%;
  } */

  .home_image {
    margin-left: 210px;
    width: 30%;
    border-radius: 50%;
  
   
  }
  